asgiref==3.8.1
Django==4.2.20
django-cors-headers==4.7.0
djangorestframework==3.16.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.13.2
django-environ>=0.11.2

# Adicionados para JWT e Gunicorn
djangorestframework-simplejwt==4.8.0

gunicorn==20.1.0

Pillow==11.2.1
